/* ##### RESET ##### */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ##### BASE ##### */
:root {
  /* Variables */
  --hue: 120;
  /* color mode */
  --icon-color: hsl(var(--hue) 100% 25%);
} 

body {
  font: 400 1.2rem 'Open Sans', sans serif;
  background-image: url("https://cdn.wallpapersafari.com/1/80/8DYndB.png");
}

.container {
  width: 90%;
  margin: 0 auto;
}

.icon-whatsapp {
  font-size: 2.5rem;
  color: var(--icon-color);
}

/* ##### MAIN ##### */
main {
  padding-top: 4rem;
}

main.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.message-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #daf7c1;
  border-radius: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  width: 25rem;
  height: auto;
}

.message-box:hover {
  cursor: pointer;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}